{% extends 'main_page.html' %}

{% block content %}

<style>
    table{
        width:75%;
        font-size:25px;
        margin: 0 auto;
    }
    td, th{
        padding:2px;
        width:90%;
        color:white;
    }
    a, h2, p{
       color: white;
       text-decoration:none;
    }
    a:hover{
        text-decoration: underline;
        color: #FBD784;
        opacity: 1;
    }
</style>

<table border>
    <tr>
        <th>Image</th>
        <th>Equipment</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Unite price</th>
        <th>Price</th>
    </tr>

    <tbody>
        {% for item in cart %}
            {% with equipment=item.equipment %}
                <tr>
                    <td>
                        <img src="{{equipment.image.url}}" alt="">
                    </td>
                    <td>{{equipment.title}}</td>
                    <td>{{item.quantity}}</td>
                    <td><a href="{% url 'cart:cart_remove' equipment.id %}">Remove</a></td>
                    <td>{{equipment.price}}</td>
                    <td>{{equipment.total_price}}</td>
                </tr>
    {% endwith %}
    {% endfor %}


    <p>Enter Your coupon code: </p>
        <form action="{% url 'cart:coupon_apply' %}" method="post">
            {% csrf_token %}
            {{ coupon_form.as_p }}
            <input type="submit" value="Apply">
        </form>

     {% if cart.coupon %}
        <tr>
            <td>Subtotal</td>
            <td colspan="4"></td>
            <td>{{ cart.get_total_price }}$</td>
        </tr>


        <tr>
            <td>
                "{{ cart.coupon.code }}" coupon  ({{ cart.coupon.discount }} - {{cart.coupon.type}} off)
            </td>
            <td colspan="4"></td>
            <td>
                -{{ cart.get_discount|floatformat:"2" }}$
            </td>
        </tr>
    {% endif %}


        <tr>
            <td>Total</td>
            <td colspan="4"></td>
            <td>
                {{ cart.get_price_discount|floatformat:"2" }}$
            </td>
        </tr>

    </tbody>

</table>

<h2><a href="{% url 'mountains:all_categories' %}">Continue shopping</a></h2>
<h2><a href="{% url 'orders:order_create' %}">Create order</a></h2>

{% endblock %}